body {
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0;
  background: #eeeeee;
}

p {
  margin-bottom: 0.8rem;
}

a {
  color: #222;
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.tea-container {
  display: block;
  margin: auto;
  position: relative;
}

header {
  padding: 1rem;
  background: #d1c3af;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
header li {
  display: inline;
  margin: 0.2rem;
  justify-content: center;
}
header a {
  color: #444;
  text-decoration: none;
}
header .titre {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.tea {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/Salon.png) center center/cover;
  min-height: 600px;
}
.tea .tea-content {
  max-width: 800px;
  text-align: center;
  color: #fefee0;
  padding: 1rem;
}
.tea .tea-content h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.btn-1 {
  background: #fefee0;
  color: #444;
}

.btn-1:hover {
  opacity: 0.8;
}

.menu {
  padding: 5rem 1rem 5rem 0rem;
}
.menu h2 {
  margin: 1rem;
}
.menu .menu-list {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.menu .menu-list .menu-elem {
  border: 2px solid #d1c3af;
  border-radius: 40%;
  background: #444;
  margin: 1rem;
  flex: 1;
}
.menu .menu-list .menu-elem .menu-elem-text {
  padding: 1rem;
  text-align: center;
  background: #eeeeee;
}

.place {
  display: flex;
  flex-flow: row nowrap;
  min-height: 600px;
}

.place-content-img {
  flex: 1;
  background: url(../img/street.jpg) center center/cover;
}

.place-content-text {
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #d1c3af;
  color: #444;
}
.place-content-text h2 {
  margin-bottom: 2rem;
}
.place-content-text p {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.reservation {
  padding: 100px 0 100px 0px;
  text-align: center;
}

.btn2 {
  background: #d1c3af;
  color: #444;
}

footer {
  background: #d1c3af;
  color: #444;
  padding: 2rem 1rem 2rem 1rem;
  text-align: center;
}
footer p {
  margin-bottom: 1.5rem;
}

/* page where */
.where {
  padding: 60px 0px;
  overflow: auto;
  min-height: 50vh;
}
.where .where-img {
  float: left;
  width: 45%;
  border: 1px solid #ddd;
}
.where .where-text {
  float: right;
  width: 40%;
}

/* Page Contact */
.contact {
  padding: 60px 0px 50px 0px;
  min-height: 60vh;
}

.contact-form-container {
  max-width: 300px;
  padding: 10px;
  margin: auto;
}
.contact-form-container form label {
  display: block;
  font-weight: 300;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.contact-form-container form textarea {
  min-height: 100px;
}
.contact-form-container form textarea label {
  padding: 0.5rem;
}

footer {
  min-height: 100px;
}

/*# sourceMappingURL=style.css.map */
