/* header */

.titre {
  flex-direction: column;
}

header {
  flex-direction: column;
  text-align: center;
}

header ul {
  flex-direction: column;
  text-align: center;
}

.menu {
  text-align: center;
}

.menu-list {
  flex-direction: column;
}

.place {
  flex-direction: column;
}
