body {
  font-family: $font-family;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0;
  background: rgb(238, 238, 238);
}

p {
  margin-bottom: 0.8rem;
}

a {
  color: #222;
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}
