@import "variables";
@import "base";

.tea-container {
  display: block;
  margin: auto;
  position: relative;
}

header {
  padding: 1rem;
  background: $color-primary;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  li {
    display: inline;
    margin: 0.2rem;
    justify-content: center;
  }
  a {
    color: #444;
    text-decoration: none;
  }
  .titre {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}

.tea {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/Salon.png) center center/cover;
  min-height: 600px;
  .tea-content {
    max-width: 800px;
    text-align: center;
    color: #fefee0;
    padding: 1rem;
    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  }
}

.btn-1 {
  background: $text-color;
  color: #444;
}
.btn-1:hover {
  opacity: 0.8;
}

.menu {
  padding: 5rem 1rem 5rem 0rem;
  h2 {
    margin: 1rem;
  }

  .menu-list {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    .menu-elem {
      border: 2px solid $color-primary;
      border-radius: 40%;
      background: #444;
      margin: 1rem;
      flex: 1;
      .menu-elem-text {
        padding: 1rem;
        text-align: center;
        background: rgb(238, 238, 238);
      }
    }
  }
}

.place {
  display: flex;
  flex-flow: row nowrap;
  min-height: 600px;
}

.place-content-img {
  flex: 1;
  background: url(../img/street.jpg) center center/cover;
}

.place-content-text {
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $color-primary;
  color: #444;
  h2 {
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.reservation {
  padding: 100px 0 100px 0px;
  text-align: center;
}

.btn2 {
  background: $color-primary;
  color: #444;
}

footer {
  background: $color-primary;
  color: #444;
  padding: 2rem 1rem 2rem 1rem;
  text-align: center;
  p {
    margin-bottom: 1.5rem;
  }
}

/* page where */

.where {
  padding: 60px 0px;
  overflow: auto;
  min-height: 50vh;
  .where-img {
    float: left;
    width: 45%;
    border: 1px solid #ddd;
  }
  .where-text {
    float: right;
    width: 40%;
  }
}

/* Page Contact */

.contact {
  padding: 60px 0px 50px 0px;
  min-height: 60vh;
}

.contact-form-container {
  max-width: 300px;
  padding: 10px;
  margin: auto;
  form label {
    display: block;
    font-weight: 300;
  }
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.contact-form-container form textarea {
  min-height: 100px;
  label {
    padding: 0.5rem;
  }
}

footer {
  min-height: 100px;
}
